[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/brantb/vim-colors-solarized
[submodule "vim/bundle/paredit.vim"]
	path = vim/bundle/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
